.service-section{
    margin-top: 16.5vh;
    justify-content: center;
}

.section-heading{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(9, 42, 102);
    font-size: 6vh;
}

.service-grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0;
}

.service-card{
    text-align: center;
    justify-content: center;
    margin: 2rem;
    padding: 1rem;
    width: 20vw;
    height: 40vh;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px 5px rgba(190, 187, 187, 0.5);
    background-color: white;
}

.service-link{
    text-decoration: none;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    color: rgb(9, 42, 102);
}

.service-link:hover{
    color: rgb(10, 88, 139);
}

.service-image{
    width: 15vw;
}

@media screen and (max-width: 1000px) {
    .service-card{
        margin: 1rem;
    }
  }

  @media screen and (max-width: 700px) {
    .service-card{
        margin: 1rem;
    }

    .service-section{
        margin-top: 0vh;
    }
  }

  @media screen and (max-width: 600px) {
    .service-card{
        margin: 1rem;
        width: 60vw;
        height: 20vh;
    }

    .service-image{
        float: left;
    }

    .service-image{
        width: 20vw;
    }
  }

  @media screen and (max-width: 400px) {

    .service-image{
        width: 25vw;
    }

    .service-card{
        margin: 1rem;
        width: 60vw;
        height: 15vh;
    }
  }